@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Noto+Sans:ital,wght@1,300;1,400;1,500&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poiret+One&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:ital,wght@1,300&family=Smooch&family=Tajawal:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ebf5fc;
}
button{
    height: 70px;
    width:250px;
    margin:0 30px;
    font-size: 25px;
    border: none;
    outline: none;
    color:#5a9bd8;
    background: #ebf5fc;
    border-radius: 50px;
}
.btn-1{
    box-shadow: -6px -6px 10px rgba(255,255,255,0.8),
                6px 6px 10px rgba(0,0,0,0.2);
}
.btn-1:focus{
    font-size: 24px;
    box-shadow: inset -4px -4px 8px rgba(255,255,255,0.8),
    inset 8px 8px 16px rgba(0,0,0,0.2);
}
.btn-2{
    box-shadow: inset -4px -4px 8px rgba(255,255,255,0.8),
                inset 8px 8px 16px rgba(0,0,0,0.2);
}
.btn-2:focus{
    font-size: 25px;
    box-shadow: -6px -6px 10px rgba(255,255,255,0.8),
    6px 6px 10px rgba(0,0,0,0.2);
}