@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Noto+Sans:ital,wght@1,300;1,400;1,500&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poiret+One&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:ital,wght@1,300&family=Smooch&family=Tajawal:wght@300&display=swap');
body{
    margin:0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}
.a1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.a1 a{
    width:70px;
    height:70px;
    display: block;
    color:white;
    background: black;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 50%;
}
.a1 a:before{
    content:'\1f4f7';
    display: block;
    color: white;
    transition: all .5s;
}
.a1 a:hover:before{
    margin-top: -50px;
}
.a1 a:after{
    content:'\1f4f7';
    display: block;
    color: white;
    transition: all .5s;
    margin-bottom: 30px;
}
a1 a:hover:after{
    margin-bottom: 0;
}
