body{
    margin:0;
    padding:0;
    background: #364b63;
}
.center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.slider{
    background: url('basem.jpg') no-repeat;
    background-size: cover;
    height:200px;
    width:200px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.7);
    animation:animate 20s infinite;
    }
    @keyframes animate {
        25%{
            background: url('khlil.jpg') no-repeat;
            background-size:cover;
        }
        50%{
            background: url('profile.jpg') no-repeat;
            background-size: cover;
        }
        75%{
            background: url('mansour.jpg') no-repeat;
            background-size: cover;
        }
    }
