@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Noto+Sans:ital,wght@1,300;1,400;1,500&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poiret+One&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:ital,wght@1,300&family=Smooch&family=Tajawal:wght@300&display=swap');
body{
    background: #f1f1f1;
    font-family: sans-serif;
}
.check{
    position: relative;
    display: block;
    font-size: 28px;
    color:#313131;
    margin-bottom:10px;
    padding-left: 36px;
    cursor: pointer;
}
.check input{
    opacity: 0;
    position: absolute;
}
.check span{
    position: absolute;
    left:0;
    top:0;
    height:30px;
    width:30px;
    background:#313131;
    color:white;
    text-align: center;
}
.check span:before{
    content:'\2713';
    font-weight: 700;
    font-family:'Montserrat',sans-serif;
    display: none;
}
.check:hover > span{
    opacity: 0.8;
}
.check input:checked ~ span{
    background: #3498db;
}
.check input:checked ~ span:before{
    display: block;
}