@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Noto+Sans:ital,wght@1,300;1,400;1,500&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poiret+One&family=Roboto:ital,wght@1,300&family=Smooch&family=Tajawal:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0f1624;
    user-select: none;
}
.center{
    position: relative;
    width:500px;
    padding: 50px;
    background: #141e30;
    border-radius: 6px;
}
header{
    color:#b7c6e1;
    font-size: 30px;
    margin-bottom: 50px;
}
.input-field{
    height:60px;
    width:100%;
    position: relative;
    font-family: sans-serif;
}
input.email{
    position: absolute;
    display: block;
    height: 100%;
    width:100%;
    z-index: 1;
    font-size: 22px;
    color:#edf1f7;
    background: #1e2d48;
    border: none;
    outline: none;
    border-radius: 6px;
    padding:20px 0 0 20px;
}
.inner-text{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    display: block;
    line-height: 60px;
    font-size: 24px;
    color:#a5b7d9;
    padding-left: 20px;
    pointer-events: none;
    transition: all .5s;
}
input.email:focus ~ .inner-text,
input.email:valid ~ .inner-text{
    transform:translateY(-13px) ;
    font-size: 19px;
}
.button:before,
.button:after{
    position: absolute;
    top:0;
    right:0;
    z-index: 2;
    width:120px;
    height:60px;
    border-radius: 6px;
    line-height: 60px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.button:before{
    content:'Send';
    color: #dbe2f0;
    background:#2d426c; 
}
.button:after{
    content:'Email sent Sucesfully :)';
    color: #d5e9f6;
    background:#2573a7;
    overflow: hidden;
}
input.email:focus ~ .button:before,
input.email:valid ~ .button:before{
   
    opacity: 1;
    pointer-events: auto;
}
input.email:invalid ~ .button:before{
    pointer-events: none;
}
input.email:valid ~ .button:before{
    color:#d5e9f6;
    background: #2573a7;
}
#check{
    display: none;
}
#check:checked ~ .button:before{
    display: none;
}
#check:checked ~ .button:after{
    opacity: 1;
    pointer-events: auto;
}
#check:checked ~ .button:after{
    width:100%;
}


