@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Noto+Sans:ital,wght@1,300;1,400;1,500&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poiret+One&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:ital,wght@1,300&family=Smooch&family=Tajawal:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    background:black;
}
#text{
    color:white;
    font-size: 40px;
    text-align: center;
    margin-top: 300px;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}