@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Noto+Sans:ital,wght@1,300;1,400;1,500&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poiret+One&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:ital,wght@1,300&family=Smooch&family=Tajawal:wght@300&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    user-select: none;
    font-family: 'Montserrat',sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #060a1f;
}
nav{
    position: relative;
    width:170px;
    height: 80px;
    background: #080e2b;
    border-radius: 5px;
    border:1px solid #060a1f;
    cursor: pointer;
    transition: all .4s;
    overflow: hidden;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 80px;
}
nav ul a{
    color:#a9b5ef;
    text-decoration: none;
    font-size: 24px;
    margin: 0 -50px;
    border-radius: 5px;
    transition: all .5s ease-in;
    opacity: 0;
    pointer-events: none;
    
}
nav:before{
    content: 'Menu';
    position: absolute;
    color:#a9b5ef;
    font-size: 30px;
    font-weight: 800;
    left:50%;
    transform: translateX(-50%);
    line-height: 80px;
    background:#080e2b;
    z-index:10;
    transition: all .4s;
}
ul a:hover,ul a.active{
    background: #0c1540;
}
nav._expand{
    width:730px;
}
nav._expand ul a{
    margin: 0 10px;
    padding:10px 15px;
    opacity: 1;
    pointer-events: auto;
}
nav._expand:before{
    opacity: 0;
    pointer-events: none;
}