@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Noto+Sans:ital,wght@1,300;1,400;1,500&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poiret+One&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:ital,wght@1,300&family=Smooch&family=Tajawal:wght@300&display=swap');
body{
    margin:0;
    padding: 0;
    background: #f1f1f1;
    font-family: 'Montserrat',sans-serif;
}
.top{
    width:100%;
    background: #313131;
    overflow: hidden;
}
.cen{
    max-width: 1200px;
    margin:auto;
}
.top ul{
    margin:0;
    padding:0;
}
.top ul li{
    list-style: none;
    display: inline-block;
    transition: all .5s;
}
.top ul li a{
    text-decoration: none;
    color:white;
    padding:10px;
    display:block;
    font-size: 18px;
    transition: all .5s;
}
@media (max-width:430px){
    .top ul li{
        display: block;
    }
    .top ul li a{
        text-align: center;
    }
}