@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Noto+Sans:ital,wght@1,300;1,400;1,500&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poiret+One&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:ital,wght@1,300&family=Smooch&family=Tajawal:wght@300&display=swap');
body{
    margin:0;
    padding:0;
    background: #ee5253;
}
.container{
    width:540px;
    background: #f1f1f1;
    padding:40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family:"Montserrat",sans-serif;
}
.client{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.client a{
    width:60px;
    height:60px;
    font-size: 40px;
    text-decoration: none;
    color:grey;
    opacity: .7;
    border:3px solid #333;
    text-align: center;
    line-height: 40px;
    padding:10px;
    border-radius: 50%;
    margin: 0 10px;
}
.client .c span{
    display: block;
}
.client .c .name{
    font-weight: 600;
}
.client .c .des{
    color:#333;
}