body{
    margin: 0;
    padding:0;
    background: #f1f1f1;
    font-family: sans-serif;
}
.box{
    width:400px;
    padding:40px;
    background: white;
    margin: 200px auto;
    box-shadow: 0 0 10px;
    position: relative;
}
.box h2{
    margin: 0;
    position: absolute;
    top:12px;
    left:-12px;
    background: #607d8b;
    color:white;
    font-size: 20px;
    padding:2px 20px;
}
.box h2:before{
    content:'';
    width:24px;
    height:24px;
    position: absolute;
    background:#515f66;
    left:5px;
    bottom:-12px;
    transform: rotate(-45deg);
    z-index: -1;
}