@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Noto+Sans:ital,wght@1,300;1,400;1,500&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poiret+One&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:ital,wght@1,300&family=Smooch&family=Tajawal:wght@300&display=swap');
body{
    margin:0;
    padding:0;
    background: #292929;
    font-family:'Montserrat',sans-serif;
}
header{
    background: #03a9f4;
    content:'';
    width:100%;
    display: table;
    clear:both;
}
.menu{
    width:900px;
    margin: 0 auto;
}
.logo{
    width:130px;
    height:130px;
    border-radius: 50%;
    float:left;
    padding: 8px;
}
nav{
    float: right;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 75px;
    line-height: 70px;
    padding:17px 0;

}
nav ul li a{
    text-decoration: none;
    color:#444;
    font-weight: bold;
}
nav a:before{
    content: '';
    display: block;
    height:5px;
    width:0;
    background: #444;
    transition: all .5s linear;
}
nav a:hover:before{
    width:100%;

}
