body,html{
    height:100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: sans-serif;
}
.hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url('gigachad.jpg') no-repeat center;
    background-size: cover;
}
.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    color:white;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}
.container h1{
    font-size: 72px;
    letter-spacing: .2em;
}
.container h1 span{
    padding:6px 14px;
    display: inline-block;
}
.des{
    margin: 20px;
    display: block;
    font-size: 26px;
    text-shadow: 0 0 10px black;
}
.btn{
    color:#313131;
    padding:10px 24px;
    font-size: 20px;
    text-decoration:none;
    background: #f1f1f1;
    border-radius: 8px;
    transition: .3 all;
    margin:10px;
}