.box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
a{
    font-size: 40px;
    color:#313131;
    border:none;
    margin:10px;
    transition: .3s all;
}
.box a:hover{
    color:#f1c40f;
}
.box:hover ~ a{
    color:#f1c40f;
}
.btn1:hover ~ a{
    color:#f1c40f;
}
.btn2:hover ~ a{
    color:#f1c40f;
}
.btn3:hover ~ a{
    color:#f1c40f;
}
.btn4:hover ~ a{
    color:#f1c40f;
}
.btn5:hover ~ a{
    color:#f1c40f;
}
