@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    height:100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#e8effd 0%,
    #d6e3f5 100%);
}
.text{
    font-size:120px;
    background: url("https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif") repeat;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    color:transparent;
    letter-spacing: -4px;
    font-family: 'Raleway',sans-serif;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.4);

    
}