body{
    font-family: sans-serif;
}
.menu{
    position: relative;
    transition: all .5s;
}
.btn{
    border:none;
    color:white;
    background: #2980b9;
    padding:8px 12px;
    font-size: 18px;

    cursor: pointer;
}
.menu:hover .content a{
    display: block;
}
.content{
    min-width: 200px;
    position: absolute;
}
.content a{
    text-decoration: none;
    color: white;
    background: #3498db;
    font-size: 18px;
    padding:8px 2px;
    display: none;
    transition: all .5s;
}
.content a:hover{
    opacity: .7;
}